/* Description: Master CSS file */

/*****************************************
Table Of Contents:
- General Styles
- Navigation
- Header
- Introduction
- Project 1
- Project 2
- Details Modal
- Project 3
- Process
- Services
- About 
- Testimonials
- Team
- Contact
- Footer
- Copyright
- Back To Top Button
- Extra Pages
- Media Queries
******************************************/

/*****************************************
Colors:
- Backgrounds - light gray #f7f9fd
- Buttons, icons - green #7dc22b
- Headings text - black #2b2b4f
- Body text - dark gray #53575a
******************************************/

/**************************/
/*     Eigen Zooi         */
/**************************/

/* Algemeen achtergrond voor alle pagina's */
.background-algemeen {
	background-right: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

/* Default kleur en -hopelijk- default font */
body {
	color: #ffffff;
	font-family: Poppins;
}

.grouppicca {
	text-align: center;
}

#centreer {
	text-align: center;
	font-family: Poppins;
}

.category-parent
{
	display: flex;
	width: 100%;
	padding: 0px 5%;
}
.categories-left
{
	width: 15%;
}
.categories-right
{
	width: 85%;
}
.category-containers
{
	display: flex;
	flex-wrap: wrap;
	padding: 0px 150px 0px 150px;
}
.category-container
{
	margin: 15px;
	max-width: 350px;
	min-width: 350px;
	border: 1px solid #000;
	padding: 25px;
	border-radius: 3px;
	box-shadow: 1px 2px #888888;
	background: #fff;
	color: #000;
}
.category-container h4
{
	color: #000;
}

.parent-body-container
{
	padding: 50px 0px 50px 0px;
}

.login
{
	border: 0.5px solid black;
	padding: 25px 25px 50px 25px;
}
.error-message
{
	width: 100%;
	margin: 0px 0px 25px 0px;
	padding: 25px;
	background: #d81818;
	font-size: 17px;
	color: #fff;
	border-radius: 5px;
}
.error-message:empty
{
	display: none;
}

#hamburger_menu #sub_items
{
	display: none;
}
#hamburger_menu #sub_items a
{
	color: #a8a8a8;
	margin-bottom: 5px;
}
#hamburger_menu .title, .hamburger-bar
{
	color: #eeeeee;
}
.hamburger-items
{
	display: flex;
	flex-direction: column;
	position: absolute;
	margin-top: 25px;
}

body .notification-banner
{
	display: none;
	width: 100%;
	position: fixed;
	height: 60px;
	padding: 20px 150px 0px 50px;
	background: #32c652;
	font-size: 25px;
	z-index: 50;
}

.add-to
{
	font-size: 32px;
	right: 0px;
	position: absolute;
	top: 0px;
	cursor: pointer;
}
.remove
{
	position: absolute;
	right: 10px;
	border: 1px solid black;
	padding: 5px;
	top: 10px;
	border-radius: 5px;
	cursor: pointer;
}
.close
{
	position: absolute;
	color: #aaaaaa;
	right: 25px;
	font-size: 28px;
	font-weight: bold;
}
.close:hover,
.close:focus
{
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.inner-page-header
{
	position: relative;
	width: 90%;
}

.label
{
	min-width: 150px;
}

.input-container
{
	margin-bottom: 20px;
}
.input-field
{
	width: 65%;
}

.button
{
	background: #7e9e73;
	padding: 10px 25px;
	cursor: pointer;
}

.modal-footer
{
	padding-bottom: 0px !important;
}

.modal
{
	display: none;
	position: fixed;
	z-index: 5000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}
.custom-modal-content
{
	color: #000;
	position: relative;
	background-color: #fefefe;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
}

.login-page .parent-body-container
{
	display: flex;
	justify-content: center;
}
.login-page .login-box
{
	margin-bottom: 15px;
}

@media (max-width: 768px) {
	#hamburger_menu
	{
		display: flex;
		flex-direction: row;
	}
}

.contact-page .inputfield textarea
{
	width: 56%;
	height: 100px;
}

.contact-page .inputfield input
{
	width: 56%;
}

.contact-page p
{
	margin-top: 1rem;;
	margin-bottom: 0;
}
/**************************/
/*     General Styles     */
/**************************/
body,
html {
    width: 100%;
	height: 100%;
}

body, p {
	color: #ffffff;
	font: 400 1rem/1.625rem "Poppins", sans-serif;
}

h1 {
/*	color: #2b2b4f;  dit is de orginele kleur */
	color: #ffffff;
	font-weight: 600;
	font-size: 2.5rem;
	line-height: 3.25rem;
	font-family: "Poppins"
}

h2 {
/*	color: #2b2b4f; dit is de orginele kleur */
	color: #ffffff;
	font-weight: 600;
	font-size: 2rem;
	line-height: 2.5rem;
	font-family: "Poppins"
}

h3 {
/*	color: #2b2b4f; dit is de orginele kleur */
	color: #ffffff;
	font-weight: 600;
	font-size: 1.75rem;
	line-height: 2.25rem;
	font-family: "Poppins"
}

h4 {
/*	color: #2b2b4f;  dit is de orginele kleur */
	color: #ffffff;
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 2rem;
	font-family: "Poppins"
}

h5 {
/*	color: #2b2b4f;  dit is de orginele kleur */
	color: #ffffff;
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.625rem;
	font-family: "Poppins"
}

h6 {
/*	color: #2b2b4f;  dit is de orginele kleur  */
	color: #ffffff;
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.375rem;
	font-family: "Poppins"
}

.p-large {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.p-small {
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.li-space-lg li {
	margin-bottom: 0.5rem;
}

a {
	color: #53575a;
	text-decoration: underline;
}

a:hover {
	color: #53575a;
	text-decoration: underline;
}

.no-line {
	text-decoration: none;
}

.no-line:hover {
	text-decoration: none;
}

.read-more {
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.5rem;
}

.read-more .fas {
	margin-left: 0.625rem;
	font-size: 1rem;
	vertical-align: -8%;
}

.green {
	color: #7dc22b;
}

.bg-gray {
	background-color: #f7f9fd;
}

.hr-heading {
	display: block;
	width: 5rem;
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
	border: 1px solid #ffffff;
	background-color: #2b2b4f;
	opacity: 1;
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #7dc22b;
	border-radius: 4px;
	background-color: #7dc22b;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-reg:hover {
	background-color: transparent;
	color: #7dc22b; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #7dc22b;
	border-radius: 4px;
	background-color: #7dc22b;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	background-color: transparent;
	color: #7dc22b; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #2b2b4f;
	border-radius: 4px;
	background-color: transparent;
	color: #2b2b4f;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-reg:hover {
	background-color: #2b2b4f;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #2b2b4f;
	border-radius: 4px;
	background-color: transparent;
	color: #2b2b4f;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-lg:hover {
	background-color: #2b2b4f;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 1px solid #2b2b4f;
	border-radius: 4px;
	background-color: transparent;
	color: #2b2b4f;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-sm:hover {
	background-color: #2b2b4f;
	color: #ffffff;
	text-decoration: none;
}

.form-group {
	position: relative;
	margin-bottom: 1.25rem;
}

.form-control-input,
.form-control-textarea {
	width: 100%;
	padding-top: 0.875rem;
	padding-bottom: 0.875rem;
	padding-left: 1.5rem;
	border: 1px solid #cbcbd1;
	border-radius: 4px;
	background-color: #ffffff;
	font-size: 0.875rem;
	line-height: 1.5rem;
	-webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}

.form-control-textarea {
	display: block;
	height: 14rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
}

.form-control-input:focus,
.form-control-textarea:focus {
	border: 1px solid #a1a1a1;
	outline: none; /* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-textarea:hover {
	border: 1px solid #a1a1a1;
}

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.25rem;
	border: 1px solid #7dc22b;
	border-radius: 4px;
	background-color: #7dc22b;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	cursor: pointer;
	transition: all 0.2s;
}

.form-control-submit-button:hover {
	border: 1px solid #7dc22b;
	background-color: transparent;
	color: #7dc22b;
}


/**********************/
/*     Navigation     */
/**********************/
.navbar {
	background-color: #2b2b4f;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.025);
}

.navbar .navbar-brand {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.navbar .logo-image img {
    width: 108px;
	height: 32px;
}

.navbar .logo-text {
	color: #ffffff;
	font-weight: 700;
	font-size: 1.875rem;
	line-height: 1rem;
	text-decoration: none;
}

.offcanvas-collapse {
	position: fixed;
	top: 3.25rem; /* adjusts the height between the top of the page and the offcanvas menu */
	bottom: 0;
	left: 100%;
	width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
	overflow-y: auto;
	visibility: hidden;
	background-color: #2b2b4f;
	transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.offcanvas-collapse.open {
	visibility: visible;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.navbar .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	color: #eeeeee;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
	color: #7dc22b;
}

/* Dropdown Menu */
.navbar .dropdown .dropdown-menu {
	animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
	}
}

.navbar .dropdown-menu {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	border: none;
	background-color: #2b2b4f;
}

.navbar .dropdown-item {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	color: #eeeeee;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	text-decoration: none;
}

.navbar .dropdown-item:hover {
	background-color: #2b2b4f;
	color: #7dc22b;
}

.navbar .dropdown-divider {
	width: 100%;
	height: 1px;
	margin: 0.5rem auto 0.5rem auto;
	border: none;
	background-color: #525296;
}
/* end of dropdown menu */

.navbar .fa-stack {
	width: 2em;
	margin-right: 0.25rem;
	font-size: 0.75rem;
}

.navbar .fa-stack-2x {
	color: #7dc22b;
	transition: all 0.2s ease;
}

.navbar .fa-stack-1x {
	color: #ffffff;
	transition: all 0.2s ease;
}

.navbar .fa-stack:hover .fa-stack-2x {
	color: #ffffff;
}

.navbar .fa-stack:hover .fa-stack-1x {
	color: #7dc22b;
}

.navbar .navbar-toggler {
	padding: 0;
	border: none;
	font-size: 1.25rem;
}


/*****************/
/*    Header     */
/*****************/
/*.header {*/
/*	padding-top: 8rem;*/
/*	padding-bottom: 8rem;*/
/*//	background: url('../images/header-background.jpg') center center no-repeat;*/
/*	background-size: cover;*/
/*	text-align: center;*/
/*}*/

/*.header .h1-large {*/
/*	margin-bottom: 2.5rem;*/
/*	color: #ffffff;*/
/*	font-size: 4rem;*/
/*	line-height: 4.5rem;*/
/*}*/



/************************/
/*     Introduction     */
/************************/
.basic-1 {
	padding-top: 9.5rem;
	padding-bottom: 9rem;
}

.basic-1 h1 {
	margin-bottom: 2.5rem;
}


/*************************/
/*     Details Modal     */
/*************************/
.modal-dialog {
	max-width: 1150px;
	margin-right: 1rem;
	margin-left: 1rem;
	pointer-events: all;
}

.modal-content {
	padding: 2.75rem 1.25rem;
}

.modal-content .btn-close {
	position: absolute;
	right: 10px;
	top: 10px;
}

.modal-content .image-container {
	margin-bottom: 3rem;
}

.modal-content img {
	border-radius: 6px;
}

.modal-content h3 {
	margin-bottom: 0.5rem;
}

.modal-content hr {
	width: 44px;
	margin-top: 0.125rem;
	margin-bottom: 1.25rem;
	margin-left: 0;
	height: 2px;
	border: none;
	background-color: #53575a;
}

.modal-content h4 {
	margin-top: 2rem;
	margin-bottom: 0.625rem;
}

.modal-content .list-unstyled {
	margin-bottom: 2rem;
}

.modal-content .list-unstyled .fas {
	color: #7dc22b;
	font-size: 0.75rem;
	line-height: 1.75rem;
}

.modal-content .list-unstyled .flex-grow-1 {
	margin-left: 0.5rem;
}

.modal-content .btn-solid-reg {
	margin-right: 0.75rem;
}

.modal-content .btn-outline-reg {
	cursor: pointer;
}


/*****************/
/*     About     */
/*****************/
.counter {
	padding-top: 9.5rem;
	padding-bottom: 5rem;
/*	background: url('../images/about-background.jpg') center center no-repeat;   Dit gebruiken we niet*/
	background-size: cover;
}

.counter h2 {
	margin-bottom: 1.5rem;
	color: #ffffff;
	text-align: center;
}

.counter .hr-heading {
	background-color: #ffffff;
	margin-right: auto;
	margin-bottom: 4.5rem;
	margin-left: auto;
}

.counter .list-unstyled {
	margin-bottom: 6rem;
}

.counter .list-unstyled li {
	margin-bottom: 2.5rem;
}

.counter .list-unstyled .flex-grow-1 {
	margin-left: 0.5rem;
}

.counter .list-unstyled h5,
.counter .list-unstyled .text {
	color: #ffffff;
}

.counter .list-unstyled .text {
	opacity: 0.9;
}

.counter .counter-container {
	text-align: center;
}

.counter .counter-cell {
	margin-bottom: 5rem;
}

.counter .purecounter {
	margin-bottom: 1.5rem;
	color: #7dc22b;
	font-weight: 600;
	font-size: 6rem;
	line-height: 4rem;
}

.counter .counter-info {
	color: #ffffff;
	font-size: 0.875rem;
	line-height: 1.5rem;
}


/*******************/
/*     Contact     */
/*******************/
.form-1 {
	padding-top: 9.5rem;
	padding-bottom: 8.75rem;
	background: url('../images/contact-background.jpg') center center no-repeat;
	background-size: cover;
	text-align: center;
}

.form-1 .h2-heading {
	margin-bottom: 1.125rem;
	color: #ffffff;
}

.form-1 .p-heading {
	margin-bottom: 0.375rem;
	color: #ffffff;
}

.form-1 .list-unstyled {
	margin-bottom: 3.5rem;
	color: #ffffff;
}

.form-1 .list-unstyled a {
	color: #ffffff;
}

.form-1 .list-unstyled .fas {
	color: #7dc22b;
}

.form-1 .map-responsive {
	position: relative;
	overflow: hidden;
	height: 0;
	margin-bottom: 5rem;
	padding-bottom: 70%;
	border-radius: 4px;
}

.form-1 .map-responsive iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none; 
}

.form-1 .form-control-input,
.form-1 .form-control-textarea {
	border-color: #655f74;
	background-color: #4d475c;
	color: #ffffff;
}

.form-1 .form-control-input::placeholder,
.form-1 .form-control-textarea::placeholder {
	color: #ffffff;
}


/******************/
/*     Footer     */
/******************/
.footer {
	padding-top: 6.5rem;
	padding-bottom: 2rem;
	background-color: #121015;
}

.footer a {
	text-decoration: none;
}

.footer .footer-col {
	margin-bottom: 3rem;
}

.footer h6 {
	margin-bottom: 0.625rem;
	color: #bfc4cd;
}

.footer p,
.footer a,
.footer ul {
	color: #bfc4cd;
}

.footer .li-space-lg li {
	margin-bottom: 0.375rem;
}

.footer .footer-col.third .fa-stack {
	width: 2em;
	margin-bottom: 1.25rem;
	margin-right: 0.375rem;
	font-size: 1.375rem;
}

.footer .footer-col.third .fa-stack .fa-stack-2x {
	color: #4d475c;
	transition: all 0.2s ease;
}

.footer .footer-col.third .fa-stack .fa-stack-1x {
    color: #d3caca;
	transition: all 0.2s ease;
}

.footer .footer-col.third .fa-stack:hover .fa-stack-2x {
    color: #7dc22b;
}

.footer .footer-col.third .fa-stack:hover .fa-stack-1x {
	color: #ffffff;
}

/*********************/
/*     Copyright     */
/*********************/
.copyright {
	padding-bottom: 1rem;
	background-color: #121015;
	text-align: center;
}

.copyright p,
.copyright a {
	color: #bfc4cd;
	text-decoration: none;
}

/******************************/
/*     Back To Top Button     */
/******************************/
/* IK HEB DIT VOOR NU VERWIJDERD. DIT KUNNEN WE GEBRUIKEN MOCHTEN WE DAT WILLEN */
#myBtn {
	position: fixed; 
  	z-index: 99; 
	bottom: 20px; 
	right: 20px; 
	display: none; 
	width: 52px;
	height: 52px;
	border: none; 
	border-radius: 50%; 
	outline: none; 
	background-color: #323137; 
	cursor: pointer; 
}

#myBtn:hover {
	background-color: #0f0f11;
}

#myBtn img {
	margin-bottom: 0.25rem;
	margin-left: 0.125rem;
	width: 18px;
}


/*************************/
/*     Media Queries     */
/*************************/	
/* Min-width 768px */
@media (min-width: 768px) {

	/* Header */
	.header {
		/*padding-top: 11rem;    Dit is wss BS  en anders de regel hieronder */
		padding-bottom: 9rem;
	}

	.header .btn-solid-lg {
		display: inline-block;
		margin-bottom: 0;
	}

	.header .btn-outline-lg {
		display: inline-block;
	}

	.header .btn-solid-lg,
	.header .btn-outline-lg {
		margin-right: 0.5rem;
		margin-left: 0.5rem;
	}
	/* end of header */



	/* About */
	.counter .counter-cell {
		display: inline-block;
		width: 210px;
		margin-right: 1rem;
		margin-left: 1rem;
		vertical-align: top;
	}
	/* end of about */


	/* Contact */
	.form-1 .list-unstyled li {
		display: inline-block;
		margin-right: 1rem;
	}
	/* end of contact */


/* end of min-width 768px */


/* Min-width 992px */
@media (min-width: 992px) {
	
	/* General Styles */
	.h2-heading {
		width: 35.25rem;
		margin-right: auto;
		margin-left: auto;
	}

	.p-heading {
		width: 46rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of general styles */


	/* Navigation */
	.navbar {
		padding-top: 1.75rem;
		background-color: transparent;
		box-shadow: none;
		transition: all 0.2s;
	}

	.navbar.top-nav-collapse {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		background-color: #2b2b4f;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.025);
	}

	.offcanvas-collapse {
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		padding-right: 0;
		padding-left: 0;
		background-color: transparent;
		overflow-y: visible;
		visibility: visible;
	}

	.offcanvas-collapse.open {
		-webkit-transform: none;
		transform: none;
	}

	.navbar .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.navbar .nav-item .nav-link {
		padding-right: 0.75rem;
		padding-left: 0.75rem;
	}

	.navbar .dropdown-menu {
		padding-top: 0.75rem;
		padding-bottom: 0.875rem;
		box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.08);
	}

	.navbar .dropdown-divider {
		width: 90%;
	}

	.navbar .social-icons {
		margin-left: 0.5rem;
	}
	
	.navbar .fa-stack {
		margin-right: 0;
		margin-left: 0.25rem;
	}
	/* end of navigation */


	/* Header */
	.header {
		text-align: left;
	}

	.header .h1-large {
		font-size: 6rem;
		line-height: 6.5rem;
	}

	.header .button-container {
		margin-top: 7rem;
		margin-left: 2rem;
	}
	/* end of header */


	/* Introduction */
	.basic-1 h1 {
		margin-bottom: 0;
	}
	/* end of introduction */

	/* Details Modal */
	/* Stops body and navbar shift on modal open */
	body.modal-open {
		overflow-y: scroll !important;
		padding-right: 0 !important;
	}

	body.modal-open .navbar {
		padding-right: 0 !important;
	}
	/* end of stops body and navbar shift on modal open */

	.modal {
		padding-right: 0 !important;
	}

	.modal-dialog {
		margin-top: 120px;
		margin-right: auto;
		margin-left: auto;
	}
	
	.modal-content .image-container {
		margin-bottom: 0;
	}
	/* end of details modal */


	/* Contact */
	.form-1 .map-responsive {
		margin-bottom: 0;
	}
	/* end of contact */


	/* Footer */
	.footer .footer-col {
		margin-bottom: 2rem;
	}

	.footer .footer-col.first {
		display: inline-block;
		width: 320px;
		margin-right: 1.75rem;
		vertical-align: top;
	}
	
	.footer .footer-col.second {
		display: inline-block;
		width: 320px;
		margin-right: 1.75rem;
		vertical-align: top;
	}
	
	.footer .footer-col.third {
		display: inline-block;
		width: 224px;
		text-align: right;
		vertical-align: top;
	}

	.footer .footer-col.third .fa-stack {
		margin-right: 0;
		margin-left: 0.375rem;
	}
	/* end of footer */


/* end of min-width 992px */


/* Min-width 1200px */
@media (min-width: 1200px) {
	
	/* General Styles */
	.container {
		max-width: 1140px;
	}
	/* end of general styles */
	

	/* Navigation */
	.navbar .container {
		max-width: 100%;
	}
	/* end of navigation */


	/* Header */

	.header .h1-large {
		font-size: 7rem;
		line-height: 7.25rem;
	}

	.header .button-container {
		margin-top: 8.75rem;
		margin-left: 3rem;
	}

	.header .btn-solid-lg,
	.header .btn-outline-lg {
		margin: 0;
		padding: 1.875rem 3rem;
		font-size: 1rem;
	}
	
	.header .btn-solid-lg {
		margin-right: 0.75rem;
	}
	/* end of header */


	/* Introduction */
	.basic-1 h1 {
		margin-top: 1.125rem;
		margin-right: 2.5rem;
	}
	/* end of introduction */


	/* Details Modal */
	.modal-content {
		padding-right: 2rem;
		padding-left: 2rem;
	}
	/* end of details modal */


	/* About */
	.counter {
		padding-bottom: 6rem;
	}

	.counter .list-unstyled {
		margin-bottom: 0;
	}

	.counter .counter-container {
		margin-top: 1rem;
		margin-left: 3.5rem;
	}
	/* end of about */

	/* Contact */
	.form-1 .map-responsive {
		margin-right: 0.5rem;
		padding-bottom: 81%;
	}

	.form-1 form {
		margin-left: 0.5rem;
	}
	/* end of contact */
	

	/* Footer */
	.footer .footer-col.first {
		width: 352px;
		margin-right: 6rem;
	}
	
	.footer .footer-col.second {
		margin-right: 6.5rem;
	}
	
	.footer .footer-col.third {
		text-align: right;
	}
	/* end of footer */


/* end of min-width 1200px */